<section class="section resume" id="resume">
  <div class="resume__background"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="resume__heading">
          <span>My Resume</span>
          <h1>My Expertises</h1>
          <p>
            StaticMania is a website that provides premium content and resources
            around the JamStack eco-system. It's not only the perfect place to
            find the latest and greatest JamStack freebies, but also a place to
            learn advanced techniques and build better with our premium
            products.
          </p>
          <br /><br />
          <p>
            Magna aliquyam erat, sed diam voluptua. At vero eos accusam justo.
          </p>
          <ul class="nav nav-tabs">
            <li>
              <a href="#education" class="active" data-toggle="tab"
                >Education</a
              >
            </li>
            <li><a href="#experience" data-toggle="tab">Experiences</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="tab-content">
          <div class="resume__education tab-pane active" id="education">
            <div class="resume__education_item">
              <span>2014-2018</span>
              <h4>Diploma in Computer</h4>
              <p>
                A diploma is a certificate or deed issued by an educational
                institution, such as college or university, that testifies that
                the recipient has successfully completed a particular course of
                study.
              </p>
            </div>
            <div class="resume__education_item">
              <span>2014-2018</span>
              <h4>Honours in Botany</h4>
              <p>
                The Botany Honours course provides a complete training in plant
                forms, geographical distribution and taxonomy of flora,
                cytogenetic, molecular. Subjects corresponding to Full Form:
                Bachelor of Science in Botany
              </p>
            </div>
            <div class="resume__education_item">
              <span>2012-2014</span>
              <h4>Higher Secondary School Certificate</h4>
              <p>
                After 10 years of schooling at the primary and secondary level,
                maybe years of passing students (16+) who succeed in passing the
                Secondary School Certificate (SSC)
              </p>
            </div>
            <div class="resume__education_item">
              <span>2004-2012</span>
              <h4>Secondary School Certificate</h4>
              <p>
                Secondary School Certificate is a public examination in
                Bangladesh conducted by the Boards of Intermediate and Secondary
                Education under the Ministry of Education.
              </p>
            </div>
          </div>
          <div class="resume__education tab-pane" id="experience">
            <div class="resume__education_item">
              <span>03-2020/present</span>
              <h4>
                Full time Frontend Developer <br /><span>StaticMania</span>
              </h4>
              <p>
                StaticMania is a website that provides premium content and
                resources around the JamStack eco-system. It's not only the
                perfect place to find the latest and greatest JamStack freebies.
              </p>
            </div>
            <div class="resume__education_item">
              <span>12-2019/03-2020</span>
              <h4>Internship <br /><span>StaticMania</span></h4>
              <p>
                StaticMania is a website that provides premium content and
                resources around the JamStack eco-system. It's not only the
                perfect place to find the latest and greatest JamStack freebies.
              </p>
            </div>
            <div class="resume__education_item">
              <span>6-2019/11-2019</span>
              <h4>Internship <br /><span>BITM</span></h4>
              <p>
                To address the skill gap of HR in the industry, BASIS started
                its own training activities in 2007. Later in 2012, BASIS
                institutionalized its training activities and set up BASIS
                Institute of Technology & Management (BITM)
              </p>
            </div>
            <div class="resume__education_item">
              <span>12-2018/2-2019</span>
              <h4>Internship <br /><span>Genius IT</span></h4>
              <p>
                Genius IT Provide all kind of IT Solution in Bangladesh. Such as
                software, Website, E-commerce, Mobile Apps, Graphic Design,
                Domain Hosting, Corporate Internet, Dedicated Internet, Home
                Internet,
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
