<section class="section service" id="service">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="service__header">
          <span>Working Area</span>
          <h1>Project Gallery</h1>
          <p>
            Enjoy team diversity and increase their networks among others people
            in various fields by provided.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="service__slider">
          <div class="service__slider_item">
            <div class="item-thum">
              <img src="images/service/1.png" alt="ui-ux" />
              <div class="linkedin">
                <a
                  href="https://www.linkedin.com/in/monirul-islam-riaj-460885192/"
                >
                  <i class="fa fa-linkedin-square"></i>
                  <span>Alime_JAMStack_Developer</span>
                </a>
              </div>
            </div>
          </div>
          <div class="service__slider_item">
            <div class="item-thum">
              <img src="images/service/2.png" alt="ui-ux" />
              <div class="linkedin">
                <a
                  href="https://www.linkedin.com/in/monirul-islam-riaj-460885192/"
                >
                  <i class="fa fa-linkedin-square"></i>
                  <span>Alime_JAMStack_Developer</span>
                </a>
              </div>
            </div>
          </div>
          <div class="service__slider_item">
            <div class="item-thum">
              <img src="images/service/3.png" alt="ui-ux" />
              <div class="linkedin">
                <a
                  href="https://www.linkedin.com/in/monirul-islam-riaj-460885192/"
                >
                  <i class="fa fa-linkedin-square"></i>
                  <span>Alime_JAMStack_Developer</span>
                </a>
              </div>
            </div>
          </div>
          <div class="service__slider_item">
            <div class="item-thum">
              <img src="images/service/4.png" alt="ui-ux" />
              <div class="linkedin">
                <a
                  href="https://www.linkedin.com/in/monirul-islam-riaj-460885192/"
                >
                  <i class="fa fa-linkedin-square"></i>
                  <span>Alime_JAMStack_Developer</span>
                </a>
              </div>
            </div>
          </div>
          <div class="service__slider_item">
            <div class="item-thum">
              <img src="images/service/5.png" alt="ui-ux" />
              <div class="linkedin">
                <a
                  href="https://www.linkedin.com/in/monirul-islam-riaj-460885192/"
                >
                  <i class="fa fa-linkedin-square"></i>
                  <span>Alime_JAMStack_Developer</span>
                </a>
              </div>
            </div>
          </div>
          <div class="service__slider_item">
            <div class="item-thum">
              <img src="images/service/6.png" alt="ui-ux" />
              <div class="linkedin">
                <a
                  href="https://www.linkedin.com/in/monirul-islam-riaj-460885192/"
                >
                  <i class="fa fa-linkedin-square"></i>
                  <span>Alime_JAMStack_Developer</span>
                </a>
              </div>
            </div>
          </div>
          <div class="service__slider_item">
            <div class="item-thum">
              <img src="images/service/7.png" alt="ui-ux" />
              <div class="linkedin">
                <a
                  href="https://www.linkedin.com/in/monirul-islam-riaj-460885192/"
                >
                  <i class="fa fa-linkedin-square"></i>
                  <span>Alime_JAMStack_Developer</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
