<section class="section privacy-policy">
  <div class="svg-img">
    <img src="images/hero/figure-svg.svg" alt="" />
  </div>
  <div class="animate-shape">
    <!-- <img src="images/skill/skill-background-shape.svg" alt="background-shape"> -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 600 600"
    >
      <defs>
        <linearGradient
          id="d"
          x1="0.929"
          y1="0.111"
          x2="0.263"
          y2="0.935"
          gradientUnits="objectBoundingBox"
        >
          <stop offset="0" stop-color="#f1f6f9" />
          <stop offset="1" stop-color="#f1f6f9" stop-opacity="0" />
        </linearGradient>
      </defs>
      <g data-name="blob-shape (3)">
        <path
          class="blob"
          fill="url(#d)"
          d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z"
        />
      </g>
    </svg>
  </div>
  <div class="animate-pattern">
    <img src="images/service/background-pattern.svg" alt="background-shape" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">
          <h1>Terms & Conditions</h1>
          <p>
            Once you sign up and download or use the free product(s) from
            StaticMania for your own purposes, please ensure that you have read,
            understood and agreed to all the terms and conditions. By using
            StaticMania goods, we presume that the terms of use set out below
            have been acknowledged.
          </p>
          <h2>1. Delivery of Products</h2>
          <p>
            Upon login all our free downloadable products are available
            available for download directly. You can download any paid
            downloaded items upon purchase. Paid products will be available for
            download after receipt and verification of payment.
          </p>
          <p>
            Your details about your order will be forwarded to the email
            address. To download any of our items (free or payable) you need to
            open an account with our site. There are some times where your
            payment is not done successfully and then we have to manually check
            and process download information.
          </p>
          <h2>2. Updates</h2>
          <p>
            Products updates are available for all of our products both free and
            paid for lifetime.
          </p>
          <h2>3. Modification</h2>
          <p>
            Sure, you can change any of our products to suit your needs. Please
            note, however, that prior to change, review the documentation page
            and ask us on the forum if there is an easier and better way to
            achieve what you want to do.
          </p>
          <h2>4. Unauthorised Usage</h2>
          <p>
            StaticMania participants are responsible for all content posted
            under their accounts on forums and operation.
          </p>
          <p>
            When we hear about such inacceptable behaviours, we reserve the
            right to delete your user account immediately.
          </p>
          <p>
            When you create an account on the StaticMania website, you are
            responsible for keeping your account safe, and you are fully
            responsible for all activities that occur under the account and any
            other actions taken in conjunction with the account. You will inform
            StaticMania promptly of any unauthorized uses of your account or
            other security breaches.
          </p>
          <h2>5. License</h2>
          <p>
            All of our products are licensed under the GNU General Public
            License (GPL)
          </p>
          <h2>6. Price Updates</h2>
          <p>
            StaticMania reserves the right to change or discontinue, temporarily
            or permanently, any product (or any part of it) with or without
            warning, at any time and from time to time.
          </p>
          <h2>7. Refund Policy</h2>
          <p>
            We have a refund policy for 30 days with an amicable patron. You
            can’t question for a refund alleging a feature your purchased
            products doesn’t understand, though.
          </p>
          <h2>8. Ownership</h2>
          <p>
            You do not claim, changed or unmodified, intellectual property
            rights or exclusive ownership of any of our products All the
            products are the property of StaticMania. Our products are provided
            “as is” without any kind of warranty, either express or implied.
            Under no circumstances shall our company or its agents be liable for
            any damages, including, but not limited to, direct, indirect,
            extraordinary, punitive, incidental or consequential damages, or
            other injuries resulting from the use or inability to use our items.
          </p>
          <h2>9. Payments</h2>
          <p>
            You represent and warrant that if you are purchasing something from
            us that any credit information you supply is true and complete,
            charges incurred by you will be honoured by your credit card
            company, and you will pay the charges incurred by you at the posted
            prices, including any applicable taxes.
          </p>
          <h2>10. Information Disclosure</h2>
          <p>
            You may not disclose any information about your order including, but
            not limited to, Order ID, download connection, etc.
          </p>
          <h2>11. Errors and Delays</h2>
          <p>
            StaticMania can not be held liable for any mistakes or delays caused
            by your wrong e-mail address or any other technical problems.
          </p>
          <h2>12. Links To Other Websites</h2>
          <p>
            Our Service may include links to websites or services of third
            parties not owned or controlled by StaticMania. We have no control
            over the content, privacy policies or practices of any third party
            websites or services, and take no responsibility for them. We do not
            warrant any of these entities / individuals, or their websites,
            offering.
          </p>
          <p>
            <strong
              >N.B.: Our company reserves the right to change or modify the
              terms and conditions without prior notice.</strong
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
